.form {
  margin-bottom: 2rem;
}

.cadastro {
  margin-top: 4rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  margin-left: 50px;
  align-items: center;
  display: flex;
  display: block !important;
  max-width: 80% !important;
}
